@font-face {
  font-family: 'segoeuib';
  src: local('segoeuib'), url('./Assets/segoeuib.ttf') format('truetype');

  font-family: 'segoeui';
  src: local('segoeui'), url('./Assets/segoeui.ttf') format('truetype');

  font-family: 'seguisb';
  src: local('seguisb'), url('./Assets/seguisb.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#logo {
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#logo img{
  
  width: 60%;
}

.menuItem {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding-bottom: 12px;
}

.menuItem img ,.lastMenuItem img{
  margin: 0 1vw;
}

.menuItem img, .lastMenuItem img {
  width: 12%;
}

#firstItem{
  color: rgba(100, 148, 237, 0.897);
}

.lastMenuItem {
  flex-grow: 9;
  display: flex;
  align-items: flex-end;
  padding-bottom: 12px;
}

img {
  width: 25px;
}

h1 {
  padding: 8vh 0;
  font-family: seguisb, serif;
  color: rgba(100, 148, 237, 0.897);
  font-size: 3.2em;
  font-weight: 900;
  text-align: center;
  flex-grow: 2;
}

#content {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  width: 100vw;
}

#menu {
  max-width: 17%;
  display: flex;
  flex-direction: column;
  border-right-color: teal;
  flex-grow: 1;
  font-family: seguisb, serif;
  color: #818181bb;
  align-items: stretch;
  font-size: 1.8em;
  box-shadow: 5px 5px 4px #dadadada
}

#todo {
  flex-grow: 5;
  font-family: segoeui, serif;
  color: #818181;
  font-family: segoeui, serif;
  color: #818181;
}

#todo ul {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

#todo ul li {
  margin: 2vh 0;
}

input, button, li.done, input::placeholder {
  border: none;
  background-color: transparent;
  font-family: segoeui, serif;
  font-weight: 500;
  font-size: 32px;
  color: #818181bd;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none;
  
}

.textInput {
  margin-bottom: 25px;
}

li.done {
  margin-top: 25px;
  border-top: 1px solid #333;
  padding-top: 25px;
  
}

.checked {
  text-decoration: line-through; 
}

#info {
  display: none;
}

#menu li :nth-child(n){
  align-content: stretch;
}

.todoItem input{
  margin: 0 1vw;
}

input[type=text] {
  width: 65%;
  margin: 0;
}

@media (max-width: 1600px)
{
  #content {
    display: block;
    min-height: 100vh;
    width: 100vw;
  } 

  #menu {
    min-width: 100vw;
    min-height: 23vh;
    display: flex;
    flex-direction: row;
    border-right-color: teal;
    font-family: seguisb, serif;
    color: #818181bb;
    font-size: 1.8em;
    box-shadow: 5px 5px 4px #dadadada;
    align-items: center;
    justify-content: space-between;
  }

  .menuItem, .lastMenuItem {
    display: none;
  }

  #logo {
    max-width: 40%;
  }

  #info {
    display: inline-block;
    margin: 0 12vw;
  }

  h1 {
    padding: 8vh 0;
    font-family: seguisb, serif;
    color: rgba(100, 148, 237, 0.897);
    font-size: 3.2em;
    font-weight: 900;
    text-align: center;
  }

  #todo ul {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
}
